body, html{
  height:100%;
}

body{
  margin: 0px;
  background-image: url("halloween/background_pumpkin.jpg");
  background-size: cover;
  font-size: 18px;
  cursor: url("halloween/bat_2.gif") 50 40, auto;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
/* top bar will be invisible unless hovered over*/
.hideTopbar{
  overflow: hidden;
  height: 32px;

}
.showTopbar{
  display: none;
  position: absolute;
  height:32px;
  background-color: #555;
}
.hideTopbar:hover .showTopbar{
  display: block;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.addSkeletonButton{
  padding:5px 12px;
  float:right;
}
.addWitchButton{
  padding:5px 12px;
  float:right;
}
.addGhostButton{
  padding:5px 12px;
  float:right;
}

/*Set param for dancers*/
.dancer{
  border-radius:10px;
  position:absolute;
}
.skeletonDancer{
  position:absolute;
}
.witchDancer{
  position:absolute;
}
.ghostDancer{
  position:absolute;
}
