body, html{
  height:100%;
}

body{
  margin: 0px;
  background-image: url("halloween/background_pumpkin.jpg");
  background-size: cover;
  font-size: 18px;
  cursor: url("halloween/bat_2.gif") 50 40, auto;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
/* top bar will be invisible unless hovered over*/
.hideTopbar{
  overflow: hidden;
  height: 32px;
  z-index: 1;
}
.showTopbar{
  display: none;
  position: absolute;
  height:32px;
  background-color: #555;
}
.hideTopbar:hover .showTopbar{
  display: block;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.addSkeletonButton{
  padding:5px 12px;
  float:right;
}
.addSkeletonButton:hover{
  background-color: red;
  color:white;
}
.addWitchButton{
  padding:5px 12px;
  float:right;
}
.addWitchButton:hover{
  background-color:purple;
  color:white;
}
.addGhostButton{
  padding:5px 12px;
  float:right;
}
.addGhostButton:hover{
  background-color: green;
  color:white;
}
.lineUpButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton:hover{
  background-color: Teal;
  color:white;
}

/*Set param for dancers*/
.dancer{
  border-radius:10px;
  position:absolute;
}
.skeletonDancer{
  position:absolute;
}
.witchDancer{
  position:absolute;
}
.ghostDancer{
  position:absolute;
}
.audioFile{
  left: 900px;
  top: -80px;
  position: absolute;
}

/*terror mode */
.scaryMode{
  position: absolute;
  top: -32px;
  width: 100%;
  height: 105%;
  display: block;
  z-index: -1;
  /*background-color: black;*/
}

